.country-side.night .sky {
    background: linear-gradient(to bottom, #020111 10%, #3a3a52 90%);
  }
  
  .country-side.night .sun-moon {
    background-color: #ebede4;
    box-shadow: 0px 0px 5px 5px #ebede4;
  }
  
  .country-side.night .hills {
    opacity: 0.6;
  }
  
  .country-side.sunset .sky {
    background: linear-gradient(to bottom, #52bae3 0%, #e9ce5d 50%, #e8a71a 90%);
  }
  
  .country-side.sunset .sun-moon {
    margin: 175px 75% 0;
    background: #fa9932;
    box-shadow: 0px 0px 5px 5px #fa9932;
  }
  
  .country-side.sunset .hills {
    opacity: 0.7;
  }
  
  .country-side.sunrise .sky {
    background: linear-gradient(to bottom, #82addb 0%, #ebb2b1 90%);
  }
  
  .country-side.sunrise .sun-moon {
    margin: 25% 10% 0;
    background: #faa35c;
    box-shadow: 0px 0px 5px 5px #faa35c;
  }
  
  .country-side.sunrise .hills {
    opacity: 0.6;
  }
  
  .country-side.cloudy .sky .cloud {
    display: block;
  }
  
.country-side {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .sky {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #90dffe 0%, #38a3d1 100%);
  }
.hills,
.hills:after,
.hills:before {
  position: absolute;
}

.hills {
  background: #b2e368;
  width: 80%;
  height: 300px;
  left: 10%;
  bottom: -130px;
  border-radius: 150% 150% 0 0;
  z-index: 0;
}

.hills:after,
.hills:before {
  content: "";
  display: block;
}

.hills:after {
  border: 1px solid #94c943;
  background: #a4d952;
  height: 80%;
  width: 150%;
  left: -80%;
  bottom: 0;
  border-radius: 100% 150% 0 0;
  z-index: 1;
}

.hills:before {
  background: #94c943;
  border: 1px solid #94c943;
  height: 70%;
  width: 200%;
  right: -130%;
  bottom: 0;
  border-radius: 100% 100% 0 0;
  z-index: 2;
  box-shadow: inset 0px 5px 20px 0px rgba(255, 255, 255, 0.2);
}


/* RAINBOW */
.rainbow {
    animation: rainbow 2s ease-in-out infinite;
    border-radius: 170px 0 0 0;
    box-shadow: #fb323c -2px -2px 0 1px, #f99716 -4px -4px 0 3px,
      #fee124 -6px -6px 0 5px, #afdf2e -8px -8px 0 7px, #6ad7f8 -10px -10px 0 9px,
      #60b1f5 -12px -12px 0 11px, #a3459b -14px -14px 0 13px;
    height: 150px;
    width: 150px;
    margin-left: 15%;
    margin-top: 12%;
    position: absolute;
    transform: rotate(40deg);
  }
  .rainbow:after {
    animation: rainbow_shadow 2s ease-in-out infinite;
    background: #000000;
    border-radius: 50%;
    content: "";
    opacity: 0.2;
    height: 15px;
    width: 120px;
    position: absolute;
    bottom: -23px;
    left: 17px;
    transform: rotate(-40deg);
    transform-origin: 50% 50%;
  }
  @keyframes rainbow {
    50% {
      transform: rotate(50deg);
    }
  }
  @keyframes rainbow_shadow {
    50% {
      transform: rotate(-50deg) translate(10px) scale(0.7);
      opacity: 0.05;
    }
  }