.city {
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-size: xx-large;
  /* margin-left: 10%; */
  margin-bottom: 1%;
  width: 20em;
  text-align: left;
  inline-size: -webkit-fill-available;
  color: whitesmoke;
}

.celsius .pipe .fahrenheit {
  font-size: smaller;
  color: blanchedalmond;
  position: relative;
  font-family: "Poppins", sans-serif;
  top: -1vw;
}

.date {
  color: white;
  font-size: x-large;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  text-align: left;
}
.float-left {
  display: inline-flex;
  margin-bottom: 1%;
  text-align: left;
  width: max-content;
  color: whitesmoke;
}

.description {
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-style: bold;
  font-size: xxx-large;
  width: fit-content;
}

.h2 {
  color: blanchedalmond;
  font-size: x-large;
  font-family: "Poppins", sans-serif;
}
.h3 {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-weight: lighter;
  width: 40vw;
  -webkit-text-stroke-color: rgb(236, 142, 0);
  -webkit-text-stroke-width: 1px;
}
.weatherIcon {
  position: absolute;
  display: inline;
}
.mid-1 {
  display: inline-flex;
}
.midcol {
  display: inline-block;
  color: whitesmoke;
}

.row {
  margin: 0;
}
