.Weather .searchbox {
  background-color: pink;
  box-shadow: 0px 15px 18px -6px rgba(199, 0, 105, 0.65);
  border-radius: 50px;
  border-color: pink;
  border: none;
  color: white;
  width: 4ex;
  height: 4ex;
  font-size: medium;
}
